<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/style.css}" />
<head>
<meta charset="UTF-8">
	<title>Bienvenido a tu VideoClub</title>
<!--   <link rel="stylesheet" 
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/custom.css}" /> 
-->
</head>
<body>
<section>
    <main class="main">
        <!--SIDEBAR-->
        <nav class="sidebar">
           	<ul>
          		<li><a href="index.php">Novedades</a></li>
               	<li><a href="index.php">Acción</a></li>
               	<li><a href="index.php">Aventuras</a></li>
               	<li><a href="index.php">Ciencia Ficción</a></li>
               	<li><a href="index.php">Fantasía</a></li>
               	<li><a href="index.php">Comedia</a></li>
               	<li><a href="index.php">Romance</a></li>
               	<li><a href="index.php">Terror</a></li>
               	<li><a href="index.php">Drama</a></li>
               	<li><a href="index.php">Suspense</a></li>
               	<li><a href="index.php">Delito</a></li>
               	<li><a href="index.php">Animation</a></li>
               	<li><a href="index.php">Infantil</a></li>
               	<li><a href="index.php">Musical</a></li>
               	
           	</ul>
        </nav>

        <!--CONTENIDO PÁGINA PRINCIPAL-->
        	<div class="container">
            	<table class="table">
                	<tr>
                    	<td id="novedad">Últimas novedades</td>
                    	<td id="fecha">Disponibilidad</td>
                	</tr>
                	<tr>
                    	<td></td>
                    	<td></td>
                	</tr>
            	</table>
           	</div>
    	</main>
	</section>



</body>