body{
    background: linear-gradient(90deg, rgba(255,255,255,1) 20%, rgba(239,239,239,1) 44%, rgba(239,239,239,1) 63%, rgba(255,255,255,1) 80%);
    font-family: Verdana, 'Times New Roman', Times;
    margin: 0;
}

.sidebar{
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    margin-top: 5%;
    margin-left: 1.5%;
}

.container{
    width: 90%;
    max-width: 1360px;
    margin: 0 auto;
}

#novedad{
    width: 62rem;
    font-family:Verdana;
    font-weight: bold;
    padding-left: 10px;
    border: 0px solid rgb(66, 63, 63);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 20px;
    background-color: #bce7d8;
    margin-bottom: 19px;
    height: 2em;
    font-size: 1.1rem;
    border-collapse: collapse;
    padding-left: 6rem;
}

#fecha{
    width: 10rem;
    font-family:Verdana;
    font-weight: bold;
    padding-left: 10px;
    border: 0px solid rgb(66, 63, 63);
    border-top-right-radius: 90px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 15px;
    background-color: #bce7d8;
    margin-bottom: 19px;
    height: 2em;
    font-size: 1.1rem;
    border-collapse: collapse;
    text-align: right;
    padding-right: 4rem;
}

.container{
    width: 90%;
    max-width: 1360px;
    margin: 0 auto;
}

.header{
    max-height: 7%;
    background-image: url("../img/4-4.jpg");
    padding: 0.5rem 0;
    margin-bottom: 3rem 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.main{
    padding-top: 8.7rem;
}

.footer{
    background-color: #bce7d8;
    /*background-image: url("../img/4-5.jpg");*/
    padding: 0rem;
    text-align: center;
    margin-top: 4rem;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}





