<header th:fragment="main-header-index">
    <div id="header">
        <img th:src="@{/images/201.png}" id="headerImg" alt="fondo header">
        <img th:src="@{/images/115.png}" id="headerlogo" alt="LOGO de la página web MovieFilms">
    </div>
</header>

<header th:fragment="header-backbutton">
    <div id="header">
        <img th:src="@{/images/201.png}" id="headerImg" alt="fondo header">
        <a th:href="@{/index}" class="buttonBack"><- Atrás</a>
        <img th:src="@{/images/115.png}" id="headerlogo" alt="LOGO de la página web MovieFilms">
    </div>
</header>

<header th:fragment="admin-header-indexbutton">
    <div id="header">
        <img th:src="@{/images/201.png}" id="headerImg" alt="fondo header">
        <a th:href="@{/index}" class="buttonBack"><- Atrás</a>
        <img th:src="@{/images/115.png}" id="headerlogo" alt="LOGO de la página web MovieFilms">
    </div>
</header>

<header th:fragment="admin-header-backbutton">
    <div id="header">
        <img th:src="@{/images/201.png}" id="headerImg" alt="fondo header">
        <a th:href="@{/admin}" class="buttonBack"><- Atrás</a>
        <img th:src="@{/images/115.png}" id="headerlogo" alt="LOGO de la página web MovieFilms">
    </div>
</header>

<header th:fragment="header-backbuttonPreviusURL">
    <div id="header">
        <img th:src="@{/images/201.png}" id="headerImg" alt="fondo header">
        <button id="backButton" class="buttonBack"> <- Atrás</button>
        <img th:src="@{/images/115.png}" id="headerlogo" alt="LOGO de la página web MovieFilms">
    </div>
</header>