html {
    background-color: #f1f1f1;
    margin: 0px;
  }
  
  #headerlogo {
    margin-top: 5px;
    margin-left: 240px;
    width: 300px;
    height: 165px;
    margin-top: -143px;
    position: relative;
    z-index: 3;
  }
  
  #header {
    margin:0 auto;
    width:100%;
    background: linear-gradient(to right, rgb(75, 75, 75), black, rgb(145, 145, 145));
    height: 143px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  
  #headerImg {
    width: 100%;
    height: 140px;
  }
  
  .buttonBack {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    float: left;
    margin-top: -120px;
    margin-left: 20px;
    width: 80px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 550;
    color: white;
    background-color: #858383;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    z-index: 4;
  }
  
  .buttonBack:hover {
    background-color: #0056b3;
  }

  #descriptionInput {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 100%;
  }

  body {
    margin-top: 190px;
    margin-left: 20px;
  }

.cellButtons {
    text-align: center;
}

#buttonAcpt {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin-top: 10px;
    margin-left: 20px;
    width: 120px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 550;
    color: white;
    background-color: #858383;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#buttonAcpt:hover {
    background-color: #0056b3;
}

#buttonCncl {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin-top: 10px;
    margin-left: 20px;
    width: 120px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 550;
    color: white;
    background-color: #858383;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#buttonCncl:hover {
    background-color: #2f2f2f;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #333;
}

#thTitle {
    font-size: 20px;
  }

#imgSpace {
    background: rgb(213, 213, 213);
    height: 350px;
    width: 290px;
}


#tableAddMovie {
    text-align: center;
    line-height: 35px;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #858383;
    margin: 20px auto;
    border-radius: .25rem;
    width: 60%;
    background-color: white;
}

thead tr:first-child {
    background: #858383;
    color: #ffffff;
    border: none;
}

th:first-child,
td:first-child {
  padding: 0 15px 0 5px;
  text-align: center;
}

th {
    font-weight: 500;
}

thead tr:last-child th {
    border-bottom: 3px solid #ddd;
}

#vertical>#imgSpace {
    max-width: 200px;
    height: auto;
}


.message {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.success {
    color: green;
    background-color: #ccffcc;
}

.error {
    color: red;
    background-color: #ffcccc;
}

#titleInput {
    width: 280px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 24px;
}

#genreSelect {
    height: 28px;
}

#newRelease {
    height: 28px;
}

#directorInput {
    width: 280px;
    height: 24px;
}

#releaseDateInput {
    width: 80px;
    height: 22px;
}

#imgUrlInput {
    width: 280px;
    height: 22px;
}

#stockInput {
    width: 80px;
    height: 22px;
    margin-bottom: 10px;
}

table tr td #releaseDateInput2 {
    text-align: left;
}

table tr td:nth-child(2n) {
    text-align: left;
}

