html {
  background-color: #dddddd99;
  margin: 0px;
  height: 100%;
}
  
#headerlogo {
  margin-top: 5px;
  margin-left: 240px;
  width: 300px;
  height: 165px;
  margin-top: -143px;
  position: relative;
  z-index: 3;
}
  
#header {
  margin:0 auto;
  width:100%;
  background: linear-gradient(to right, rgb(75, 75, 75), black, rgb(145, 145, 145));
  height: 143px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
  
#headerImg {
  width: 100%;
  height: 140px;
}
  
.buttonBack {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  float: left;
  margin-top: -120px;
  margin-left: 20px;
  width: 80px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 550;
  color: white;
  background-color: #858383;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  z-index: 4;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
  
.buttonBack:hover {
  background-color: #0056b3;
}
  
body {
  margin-left: 8px;
  margin-top: 0px;
}
  
.sidebarLeft {
  background-color: #506169;
  position: fixed;
  margin-top: 0px;
  left: 0;
  height: 100%;
  width: 250px;
  z-index: 0;
}
  
.loginbox {
  position: absolute;
  top: 50px;
  right: 70px;
  z-index: 4;
}
  
.userdetails {
  position: absolute;
  top: 0px;
  right: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 4;
}
  
#cart-icon {
  position: absolute;
  top: 85px;
  right: 80px;
  color: #0000EE;
  cursor: pointer;
  z-index: 4;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
  
#cart-icon:hover {
  color: #0366d0;
}
  
#cart-icon2 {
  position: absolute;
  top: 32px;
  right: 20px;
  color: red;
  z-index: 4;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
  
#cart-icon2a:hover {
  color: rgb(255, 0, 0);
}
  
.username {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 42px;
  font-weight: 650;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: right;
  display: block;
  text-decoration: none;
  color: black;
  z-index: 4;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
  
.loginreq {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  height: 30px;
  font-size: 20px;
  font-weight: 550;
  background: #506169; 
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  transition: background-color 0.3s;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
    
.loginreq:hover {
  background-color: #0056b3;
}
    
.registerreq {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  height: 35px;
  font-size: 20px;
  font-weight: 550;
  background: #506169;
  color: #fff;
  cursor: pointer;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  transition: background-color 0.3s;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
    
.registerreq:hover {
  background-color: #0056b3;
}
  
#body {
  margin-top: 160px;
  margin-left: 350px;
}

.movie-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin-left: 38%;
  margin-bottom: -70px;
}

.movie-img {
  margin-top: 20px;
  border-radius: 5px;
}

.movie-newrelease {
  margin-left: 15px;
  margin-top: 36px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  animation: parpadeo 3s infinite;
  font-size: 18px;
}

@keyframes parpadeo {
  25% { opacity: 0.5; }
  50% { opacity: 1; }
  75% { opacity: 0.5; }
  100% { opacity: 1; }
}

#titleandrelease {
  display: flex;
}

#bodyinfomovie {
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  float: right;
  margin-left: 440px;
  margin-right: 200px;
  margin-top: 40px;
}

#totalcontent {
  display: flex;
}

.buybutton {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  width: 120px;
  font-size: 16px;
  font-weight: 550;
  color: white;
  padding: 8px;
  padding-left: 19px;
  padding-right: 19px;
  background-color: #7ec053;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.buybutton:hover {
  background-color: #669a42;
}

#movie-description {
  text-align: justify;
}

#buyButtonDiv {
  margin-top: 30px;
}

.quantity-input {
  width: 35px;
  font-size: 16px;
}

.decrement-button {
  width: 24px;
  height: 24px;
  font-size: 16px;
  margin-right: 2px;
} 

.increment-button {
  width: 24px;
  height: 24px;
  font-size: 16px;
  margin-left: 2px;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.buy-button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.footer-container {
  position: fixed;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: white;
  font-size: 16px;
  bottom: 0;
  left: 0;
  margin-left: 250px;
  width: 100%;
  height: 40px;
  background: linear-gradient(to right, #9FACAF, #506169);
  line-height: 5px;
  padding: 0;
}
  
  .footer-container p {
  padding-left: 33%;
}