<!DOCTYPE html>
<head>
    <th:block th:insert="~{/fragments/head-fragment.html}" />
    <link rel="stylesheet" th:href="@{/css/adventures.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Peliculas de animación</title>
</head>  
<body>
    <th:block th:insert="~{/fragments/header.html :: header-backbutton}" />

    <div class="sidebarLeft">
        <th:block th:insert="~{/fragments/sidebar.html :: sidebarFragmentGenre}" />
    </div>

    <!--div class="sidebarRight">
        
    </div-->
    
    <div id="body">
        <h1 id="title">Animación</h1>
        <div id="loginbox-container">

        </div>
        <main id="main-container">
        
        </main>
    </div>

    

</body>
<div id="footerMargin"></div>
<th:block th:insert="~{/fragments/footer.html :: main-footer}" />
<script th:inline="javascript">
    var username = /*[[${username}]]*/ '';
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/genre/animation.js"></script>
</html>