<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<html xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" href="css/addAddress.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
	<title>Gestionar direcciones</title>
</head>
<body>
	<th:block th:insert="~{/fragments/header.html :: header-backbuttonPreviusURL}" />

    <div class="contentAdd">
    <h1 id="title">Añadir dirección</h1>
    
	<form id="addAddressForm" action="/api/address/" method="post">
        <div class="form-group">
            <label id="dir1" class="labelsPosition" for="addressLine1">Dirección:</label>
            <input class="inputHeight" type="text" id="addressLine1" name="addressLine1" required>
        </div>
    
        <div class="form-group">
            <label id="dir2" class="labelsPosition" for="addressLine2" placeholder="Optional">Dirección 2:</label>
            <input type="text" id="addressLine2" name="addressLine2">
        </div>
    
        <div class="form-group">
            <label id="dir3"class="labelsPosition" for="zipcode">Código postal:</label>
            <input type="text" id="zipcode" name="zipcode" required>
        </div>
    
        <div class="form-group">
            <label id="dir4" class="labelsPosition" for="location">Localidad:</label>
            <input type="text" id="location" name="location" required>
        </div>
    
        <div class="form-group">
            <label id="dir5" class="labelsPosition" for="province">Provincia:</label>
            <select id="province" name="province" required>
                <option value="A_Coruña">A Coruña</option>
                <option value="Alava">Álava</option>
                <option value="Albacete">Albacete</option>
                <option value="Alicante">Alicante</option>
                <option value="Almeria">Almería</option>
                <option value="Asturias">Asturias</option>
                <option value="Avila">Ávila</option>
                <option value="Badajoz">Badajoz</option>
                <option value="Baleares">Baleares</option>
                <option value="Barcelona">Barcelona</option>
                <option value="Burgos">Burgos</option>
                <option value="Caceres">Cáceres</option>
                <option value="Cadiz">Cádiz</option>
                <option value="Cantabria">Cantabria</option>
                <option value="Castellon">Castellón</option>
                <option value="Ceuta">Ceuta</option>
                <option value="Ciudad_Real">Ciudad Real</option>
                <option value="Cordoba">Córdoba</option>
                <option value="Cuenca">Cuenca</option>
                <option value="Girona">Girona</option>
                <option value="Granada">Granada</option>
                <option value="Guadalajara">Guadalajara</option>
                <option value="Guipuzcoa">Guipúzcoa</option>
                <option value="Huelva">Huelva</option>
                <option value="Huesca">Huesca</option>
                <option value="Jaen">Jaen</option>
                <option value="La_Rioja">La Rioja</option>
                <option value="Las_Palmas">Las Palmas</option>
                <option value="Leon">León</option>
                <option value="Lleida">Lleida</option>
                <option value="Lugo">Lugo</option>
                <option value="Madrid">Madrid</option>
                <option value="Malaga">Málaga</option>
                <option value="Melilla">Melilla</option>
                <option value="Murcia">Murcia</option>
                <option value="Navarra">Navarra</option>
                <option value="Ourense">Ourense</option>
                <option value="Palencia">Palencia</option>
                <option value="Pontevedra">Pontevedra</option>
                <option value="Salamanca">Salamanca</option>
                <option value="Segovia">Segovia</option>
                <option value="Sevilla">Sevilla</option>
                <option value="Soria">Soria</option>
                <option value="Tarragona">Tarragona</option>
                <option value="Santa_Cruz_De_Tenerife">Santa Cruz de Tenerife</option>
                <option value="Teruel">Teruel</option>
                <option value="Toledo">Toledo</option>
                <option value="Valencia">Valencia</option>
                <option value="Valladolid">Valladolid</option>
                <option value="Vizcaya">Vizcaya</option>
                <option value="Zamora">Zamora</option>
                <option value="Zaragoza">Zaragoza</option>
            </select>
        </div>
    
        <div class="form-group">
            <label id="dir6" class="labelsPosition" for="country">País:</label>
            <select id="country" name="country" required>
                <option value="España">España</option>
            </select>
        </div>

        <div id="submitButtonAlign">
            <button id="submitAddress" type="submit">Guardar dirección</button>
        </div>
    </form>
    </div>
    <div id="successModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Dirección agregada correctamente</p>
        </div>
    </div>

</body>
<div id="footerMargin"></div>
<th:block th:insert="~{/fragments/footer.html :: main-footer}" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    var username = /*[[${username}]]*/ ''; // Inyecta el valor de username desde Thymeleaf
</script>
<script src="js/addAddress.js"></script>
</html>