<!DOCTYPE html>

<head>
    <th:block th:insert="~{/fragments/head-fragment.html}" />
    <link rel="stylesheet" href="CSS/addCreditUser.css" />
    <title>Añadir saldo</title>
</head>

<body>
    <th:block th:insert="~{/fragments/header.html :: admin-header-backbutton}" />
    <div id="body">
        <h2 id="aniadirSaldo">Añadir saldo</h2>
        <div class="container">
            <div class="alignFind">
                <p id="sangriaLat">Buscar Usuario:</p>
                <form action="">
                    <input id="findGlobalUser" type="text">
                    <div id="workButtons">
                        <button id="search" type="submit">Buscar</button>
                        <button id="clean" type="button">Limpiar</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="searchResult"></div>
        <div id="tableContainer"></div>
        <div id="positionUserDetails">
            <div id="userDetails"></div>
        </div>

        </div>
    </div>
</body>

<script src="JS/addCreditUser.js"></script>

</html>
