<!DOCTYPE html>
<head>
  <th:block th:insert="~{/fragments/head-fragment.html}" />
  <link rel="stylesheet" href="CSS/fullCatalogue.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Catálogo completo</title>
</head>
<body>
  <th:block th:insert="~{/fragments/header.html :: admin-header-backbutton}" />
  <div id="body">
    <table id="table">
      <thead>
        <tr>
          <th colspan="9" id="thTitle">CATÁLOGO COMPLETO</th>
        </tr>
        <tr>
          <th># ID</th>
          <th>Título</th>
          <th>Fecha Lanzamiento</th>
          <th>Género</th>
          <th>Director</th>
          <th>Novedad</th>
          <th id="allignprice">Precio</th>
          <th id="allignStock">Stock</th>
          <th id="accions">Acciones</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
      <div id="paginationControl">
        <button id="prevBtn" onclick="prevPage()"><</button>
        <span id="page-info">Página 1</span>
        <button id="nextBtn" onclick="nextPage()">></button>
      </div>
    </table>
  </div>
  <script src="JS/fullCatalogue.js"></script>
</body>