<!DOCTYPE html>
<head>
    <th:block th:insert="~{/fragments/head-fragment.html}" />
    <link rel="stylesheet" href="CSS/globalCreditHistory.css" />
    <title>Historial de crédito de los usuarios</title>
</head>

<body>
    <th:block th:insert="~{/fragments/header.html :: admin-header-backbutton}" />
    <div id="body">
        <div class="containerOfDivs">
            <div class="container">
                <div class="alignFind">
                    <p id="sangriaLat">Buscar Usuario por ID:</p>
                    <form id="searchForm">
                        <input id="findGlobalUser" type="text" required="true">
                        <div id="workButtons">
                            <button id="search" type="submit">Buscar</button>
                            <button id="clean" type="button">Limpiar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="tablecontainer">
                <table id="table">
                    <thead>
                        <tr>
                          <th colspan="8" id="thTitle">HISTORIAL GLOBAL DE CRÉDITO DE USUARIOS</th>
                        </tr>
                        <tr>
                          <th>History ID</th>
                          <th class="allignTable">User ID</th>
                          <th class="allignTable">Apodo</th>
                          <th class="allignTable">Fecha/Hora</th>
                          <th class="allignTable">Acción</th>
                          <th class="allignTable">Compra</th>
                          <th class="allignTable">Importe</th>
                          <th class="allignTable">Total</th>
                        </tr>
                      </thead>
                    <tbody>

                    </tbody>
                    <div id="paginationControl">
                        <button id="prevBtn" onclick="prevPage()"><</button>
                        <span id="page-info">Página 1</span>
                        <button id="nextBtn" onclick="nextPage()">></button>
                      </div>
                </table>
            </div>
        </div>
    </div>
</body>

<script src="JS/globalCreditHistory.js"></script>

</html>