<!DOCTYPE html>
<head>
	<th:block th:insert="~{/fragments/head-fragment.html}" />
	<link rel="stylesheet" type="text/css" th:href="@{css/login.css}" />
	<title>Inicio de sesión</title>
</head>

<body>
	<th:block th:insert="~{/fragments/header.html :: header-backbutton}" />
	<div id="body">
		<div class="container">
			<h1 id="title-text">Inicio de sesión</h1>
				<form th:action="@{/login}" method="post">
					
					<div id="username-desc">
						<label id="usernameDescription" for="username">Nombre de usuario : </label>
						<input id="username"  name="username" type="text" class="form-control"
							required autofocus="autofocus" placeholder="Apodo">
					</div>

					<div id="password-desc">
						<label id="passwordDescription" for="password">Password : </label>
						<input id="password" type="password"  name="password" class="form-control" required
							autofocus="autofocus" placeholder="Contraseña">
					</div>

					<div id="div-login-submit">
						<input type="submit" name="login-submit" id="login-submit" value="Iniciar sesión"/>
					</div>
				</form>
			<div id="text-reg">
				<span>Si no estás registrado <a th:href="@{/register}">regístrate aquí</a></span>
			</div>			
		</div>
	</div>
	<th:block th:insert="~{/fragments/footer.html :: main-footer}" />	
</body>
<script src="js/login.js"></script>
</html>














