<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/register.css" />
    <title>Registrarse</title>
</head>
<header>
	<div id="header">
		<img src="img/201.png" id="headerImg" alt="fondo header">
		<a href="/index" class="buttonBack"><- Atrás</a>
		<img src="img/115.png" id="headerlogo" alt="LOGO de la página web MovieFilms">
	</div>
</header>
<body>
    <div id="formStyle">
    <main class="mainreg">
        <div class="container">

    <!--EN FRONT SOLO COMPRUEBO QUE LOS CAMPOS CONTENGAN DATOS MEDIANTE EL REQUIRED-->
    <form id="register" action="/user/regUser" method="post">
        <input type="text" name="nickname" id= "nickname" placeholder="Apodo" required="required">
        <input type="text" name="firstName" id= "firstName" placeholder="Nombre" required= "required">
        <input type="text" name="lastName" id= "lastName" placeholder="Apellidos" required= "required">
        <input type="email" name="mail" id= "regmail" placeholder="Correo electrónico" required= "required">
        <input type="password" name="pass" id="regpass" placeholder="Contraseña" required= "required">
        <p id="infopass">Al menos ocho caracteres, incluyendo mayúsculas, minúsculas y números</p>
        <input type="password" name="password" id="password" placeholder="Repite la contraseña" required= "required">
        <input type="checkbox" name="accept" id="check" required><label for="check"><span style="color:black">Al marcar aceptas el </span>
            <span style="color: tomato">tratamiento de datos</span></label>
       <input type="submit" id="registerButton" value="Registrarse" />
    </form>
    <!--
<ul>
    <li><p id="datreg">REGISTRARSE</p><form class="registro"></li>
    <li><input type="text" name="nickname" id= "nickname" placeholder="Apodo" required= "required"></li>
    <li><input type="text" name="firstName" id= "firstName" placeholder="Nombre" required= "required"></li>
    <li><input type="text" name="lastName" id= "lastName" placeholder="Apellidos" required= "required"></li>    
    <li><input type="email" name="mail" id= "regmail" placeholder="Correo electrónico" required= "required"></li>
    <li><input type="password" name="pass" id="regpass" placeholder="Contraseña" required= "required"></li>
    <li><p id="infopass">Al menos ocho caracteres, incluyendo mayúsculas, minúsculas y números</p></li>
    <li><input type="password" name="password" id="password" placeholder="Repite la contraseña" required= "required"></li>
    <li><input type="checkbox" name="accept" id="check" required><label for="check"><span style="color:black">Al marcar aceptas el </span><span style="color: tomato">tratamiento de datos</span></label></li>
    <li><button type="button" name="submit" id="registerButton" onclick="callEndpoint()">Registrarse</button>
    </li>
</ul>-->
        </div>
    </main>
</div>
</body>
<footer class="footer">
    <div class="container">
    <p>Website designed by Iván Casado</p>
    </div>
</footer>
<script src="JS/register.js"></script>
</html>