<!DOCTYPE html>
<head>
    <th:block th:insert="~{/fragments/head-fragment.html}" />
    <link rel="stylesheet" href="CSS/specMovie.css" />
    <title>Document</title>
</head>
<body>
    <th:block th:insert="~{/fragments/header.html :: admin-header-backbutton}" />
    <div id="body">
        <h1 id="title">Buscar película</h1>
        <form id="searchForm">
            <input type="text" id="movieId" placeholder="Introduce ID">
            <button type="submit" id="searchButton">Buscar</button>
        </form>
        <div id="result">
        
        </div>
    </div>
</body>
<script src="JS/specMovie.js"></script>
</html>