<!DOCTYPE html>
<head>
    <th:block th:insert="~{/fragments/head-fragment.html}" />
    <link rel="stylesheet" th:href="@{/css/titleResults.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Búsqueda por título</title>
</head>  
<body>
    <th:block th:insert="~{/fragments/header.html :: header-backbutton}" />

    <div class="sidebarLeft">
        <th:block th:insert="~{/fragments/sidebar.html :: sidebarFragment}" />
    </div>

    <div id="body">
        <h1 id="title">Búsqueda por Título: "<span th:text="${titleQuery}"></span>"</h1>
        <main th:if="${movies.size() > 0}" id="main-container">
            <!-- Las tarjetas de película se generarán aquí -->
        </main>
        <div class="emptyFound" th:if="${movies.size() == 0}">
            <p>No se encontraron resultados para su búsqueda.</p>
        </div>
    </div>
    
</body>
<th:block th:insert="~{/fragments/footer.html :: main-footer}" />
<script th:inline="javascript">
    var username = /*[[${username}]]*/ '';
</script>
<script src="js/titleResults.js"></script>
</html>

